.card {
  background-color: bisque;
  border-style: solid;
  margin: 25px;
  width: 80%;
}

.card-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.question {
  font-size: 40px;
}
