@import "App";
@import "Card";
@import "CardContainer";
@import "Counter";
@import "Timer";
@import "Banner";
@import url('<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">');

html {
  background-image: url(images/grass.jpg);
  background-repeat: repeat;
  font-family: "Rubik", sans-serif;
  height: 100%;
  object-fit: fill;
  text-align: center;
  width: 100%;
}
